
src/test.bat
src/hivelist.txt
ExternalWIN/ExternalWIN.cfg
ExternalWIN/hivelist.txt
*.hivelist
ExternalWIN/DISMExclusions.cfg
ExternalWIN/Test.bat
ExternalWIN/Test.vbs
ExternalWIN/DISMApplyExclusions.cfg
ExternalWIN/DISMCapExclusions.cfg
ExternalWIN/ApplyExclusions.cfg
ExternalWIN/CaptureExclusions.cfg
